{% extends 'receptionist/r_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/v_tdys_menu_post/#about">
  {% csrf_token %}

  <table class="table table-bordered table-hover">
    <tr><td colspan="6"><input type="text" name="tdysmenu" value="{{ v }}" class="form-control"></td><td><input type="submit" value="Search" class="btn btn-primary"></td></tr>

    <tr>
      <td>Sl no</td>
      <td>Item name</td>
      <td>Image</td>
      <td>Price</td>
      <td>Rating</td>
      <td>Status</td>

    </tr>

    {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.MENU.item_name}}</td>
      <td>&nbsp;<img src="{{i.MENU.img}}" height="100px"> </td>
      <td>{{ i.MENU.price}}</td>
      <td>{{ rating }}</td>
      <td>{{ i.MENU.status}}</td>
      <td><a href="/myapp/delete_tdys_menu/{{ i.id }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}