{% extends 'admin/index.html' %}
{% block body %}

	<form method="post" action="/myapp/a_change_pswd_post/">
		<table>
			<h1>change password</h1>{% csrf_token %}
			<tr>
				<td>current password</td>
				<td><input type="password" name="crnt_pswd"></td>
			</tr>
			<tr>
				<td> new password</td>
				<td><input type="password" name="pass"></td>
			</tr>
			<tr>
				<td> confirm password</td>
				<td><input type="password" name="cnfm_pswd"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="sub" value="LOGIN"></td>
			</tr>
		</table>
		 
	</form>

{% endblock %}
