<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="login_fun/">login</a> <br>
<a href="a_change_pswd/">change password</a> <br>
<a href="add_menu/">add menu</a><br>
<a href="v_menu/">view menu</a><br>
<a href="v_feedback/">view feedback</a><br>
<a href="v_complaint/">view complaint</a><br>
<a href="v_ordr_rprt/">view order report</a><br>
<a href="v_rating_food/">view food rating</a><br>
<a href="v_staff/">view staff</a><br>
<a href="a_staff/">Add staff</a><br>

</body>
</html>